<a href="https://colab.research.google.com/github/jonathanluo23/NBA-allstar-all-nba-Prediction/blob/main/all_nba_data_collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pd

In [ ]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 100)

In [ ]:
season_id = '2021-22'
per_mode = 'PerGame'

In [ ]:
player_info_url = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight='

In [ ]:
headers  = {
    'Connection': 'keep-alive',
    'Accept': 'application/json, text/plain, */*',
    'x-nba-stats-token': 'true',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36',
    'x-nba-stats-origin': 'stats',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Referer': 'https://stats.nba.com/',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
}

In [ ]:
response = requests.get(url=player_info_url, headers=headers).json()

In [ ]:
player_info = response['resultSets'][0]['rowSet']

In [ ]:
columns_list = ["PLAYER_ID"
,"PLAYER_NAME"
,"NICKNAME"
,"TEAM_ID"
,"TEAM_ABBREVIATION"
,"AGE"
,"GP"
, "W"
, "L"
,"W_PCT"
,"MIN"
,"FGM"
,"FGA"
,"FG_PCT"
,"FG3M"
, "FG3A"
,"FG3_PCT"
, "FTM"
, "FTA"
, "FT_PCT"
, "OREB"
, "DREB"
,"REB"
, "AST"
, "TOV"
, "STL"
, "BLK"
,"BLKA"
, "PF"
, "PFD"
,"PTS"
,"PLUS_MINUS"
, "NBA_FANTASY_PTS"
, "DD2"
,"TD3"
, "WNBA_FANTASY_PTS"
, "GP_RANK"
,"W_RANK"
,"L_RANK"
, "W_PCT_RANK"
, "MIN_RANK"
, "FGM_RANK"
, "FGA_RANK"
, "FG_PCT_RANK"
, "FG3M_RANK"
, "FG3A_RANK"
, "FG3_PCT_RANK"
, "FTM_RANK"
, "FTA_RANK"
, "FT_PCT_RANK"
, "OREB_RANK"
, "DREB_RANK"
, "REB_RANK"
,"AST_RANK"
, "TOV_RANK"
,"STL_RANK"
, "BLK_RANK"
,"BLKA_RANK"
,"PF_RANK"
,"PFD_RANK"
,"PTS_RANK"
,"PLUS_MINUS_RANK"
, "NBA_FANTASY_PTS_RANK"
,"DD2_RANK"
,"TD3_RANK"
,"WNBA_FANTASY_PTS_RANK"
,"CFID"
,"CFPARAMS"]

In [ ]:
trad_22 = pd.DataFrame(player_info, columns=columns_list)

In [ ]:
trad_22

,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,NBA_FANTASY_PTS,DD2,TD3,WNBA_FANTASY_PTS,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,WNBA_FANTASY_PTS_RANK,CFID,CFPARAMS
0,203932,Aaron Gordon,Aaron,1610612743,DEN,26.0,75,46,29,0.613,31.7,5.8,11.1,0.520,1.2,3.5,0.335,2.3,3.1,0.743,1.7,4.2,5.9,2.5,1.8,0.6,0.6,0.7,2.0,2.7,15.0,4.3,27.5,6,0,26.9,46,32,171,167,82,81,106,106,189,189,265,88,82,327,71,92,71,150,89,285,119,78,203,87,91,36,103,85,40,105,5,"203932,1610612743"
1,1630565,Aaron Henry,Aaron,1610612755,PHI,22.0,6,6,0,1.000,2.8,0.2,0.8,0.200,0.0,0.2,0.000,0.0,0.0,0.000,0.0,0.2,0.2,0.0,0.3,0.0,0.3,0.3,0.3,0.0,0.3,-3.3,1.2,0,0,1.2,521,472,584,1,586,573,581,569,514,538,514,543,547,543,557,581,584,569,494,554,252,293,560,564,578,506,591,268,40,591,5,"1630565,1610612755"
2,1628988,Aaron Holiday,Aaron,1610612756,PHX,25.0,63,34,29,0.540,16.2,2.4,5.4,0.447,0.6,1.6,0.379,0.9,1.1,0.868,0.4,1.6,1.9,2.4,1.1,0.7,0.1,0.3,1.5,1.2,6.3,-0.6,13.7,0,0,13.0,184,155,171,266,352,320,310,287,332,363,126,304,335,90,428,410,428,156,203,234,429,339,344,298,322,312,344,268,40,344,5,"1628988,1610612756"
3,1630174,Aaron Nesmith,Aaron,1610612738,BOS,22.0,52,32,20,0.615,11.0,1.4,3.5,0.396,0.6,2.2,0.270,0.4,0.5,0.808,0.3,1.4,1.7,0.4,0.6,0.4,0.1,0.0,1.3,0.5,3.8,0.4,7.3,0,0,7.5,273,177,341,162,457,440,434,443,337,294,420,452,469,199,477,433,462,506,392,413,474,532,376,462,442,234,478,268,40,470,5,"1630174,1610612738"
4,1630598,Aaron Wiggins,Aaron,1610612760,OKC,23.0,50,13,37,0.260,24.2,3.1,6.7,0.463,0.8,2.8,0.304,1.2,1.7,0.729,1.0,2.5,3.6,1.4,1.1,0.6,0.2,0.4,1.9,1.3,8.3,-4.7,16.0,0,0,15.7,289,400,74,526,194,236,240,223,256,243,368,214,213,342,171,275,240,276,199,277,372,223,240,269,240,543,286,268,40,278,5,"1630598,1610612760"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,203897,Zach LaVine,Zach,1610612741,CHI,27.0,67,37,30,0.552,34.7,8.4,17.7,0.476,2.8,7.1,0.389,4.8,5.6,0.853,0.3,4.3,4.6,4.5,2.6,0.6,0.3,0.9,1.8,4.0,24.4,-0.4,37.0,0,0,38.2,132,120,160,246,30,23,26,190,28,33,96,17,23,115,463,88,143,58,47,266,247,35,256,37,17,288,42,268,40,30,5,"203897,1610612741"
601,1630285,Zavier Simpson,Zavier,1610612760,OKC,25.0,4,1,3,0.250,43.5,4.8,13.0,0.365,0.3,2.0,0.125,1.3,1.3,1.000,0.5,4.8,5.3,7.5,2.5,1.3,1.0,1.8,3.8,2.0,11.0,-23.8,32.8,0,0,28.5,535,544,508,532,1,117,75,493,441,322,501,212,300,1,349,65,106,11,50,43,37,1,1,147,153,604,64,268,40,90,5,"1630285,1610612760"
602,1630192,Zeke Nnaji,Zeke,1610612743,DEN,21.0,41,24,17,0.585,17.0,2.3,4.5,0.516,0.9,2.0,0.463,1.0,1.6,0.631,1.4,2.2,3.6,0.4,0.6,0.4,0.3,0.5,1.9,1.3,6.6,-1.1,13.1,0,0,12.9,348,250,368,202,333,330,368,117,242,333,21,278,229,452,107,323,236,509,409,410,275,184,221,266,312,363,355,268,40,345,5,"1630192,1610612743"
603,1630533,Ziaire Williams,Ziaire,1610612763,MEM,20.0,62,41,21,0.661,21.7,3.1,6.8,0.450,1.2,3.9,0.314,0.7,0.9,0.782,0.4,1.7,2.1,1.0,0.7,0.6,0.2,0.3,1.8,0.8,8.1,2.0,13.8,0,0,14.0,192,76,323,104,240,242,233,276,178,163,339,354,369,252,406,390,404,343,365,293,382,349,247,383,254,124,340,268,40,322,5,"1630533,1610612763"
604,1629597,Zylan Cheatham,Zylan,1610612762,UTA,26.0,1,0,1,0.000,5.2,0.0,3.0,0.000,0.0,2.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-13.0,0.0,0,0,0.0,589,580,559,580,553,578,466,578,514,322,514,543,547,543,557,583,586,569,566,554,520,537,584,564,582,602,596,268,40,596,5,"1629597,1610612762"

In [ ]:
real_trad_22 = trad_22[["PLAYER_ID","PLAYER_NAME","NICKNAME"]]

In [ ]:
real_trad_22 = trad_22[["PLAYER_ID","PLAYER_NAME","NICKNAME","TEAM_ID","TEAM_ABBREVIATION","AGE","GP","W","L","W_PCT","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","PF","PTS","PLUS_MINUS"]]

In [ ]:
real_trad_22

,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,PF,PTS,PLUS_MINUS
0,203932,Aaron Gordon,Aaron,1610612743,DEN,26.0,75,46,29,0.613,31.7,5.8,11.1,0.520,1.2,3.5,0.335,2.3,3.1,0.743,1.7,4.2,5.9,2.5,1.8,0.6,0.6,2.0,15.0,4.3
1,1630565,Aaron Henry,Aaron,1610612755,PHI,22.0,6,6,0,1.000,2.8,0.2,0.8,0.200,0.0,0.2,0.000,0.0,0.0,0.000,0.0,0.2,0.2,0.0,0.3,0.0,0.3,0.3,0.3,-3.3
2,1628988,Aaron Holiday,Aaron,1610612756,PHX,25.0,63,34,29,0.540,16.2,2.4,5.4,0.447,0.6,1.6,0.379,0.9,1.1,0.868,0.4,1.6,1.9,2.4,1.1,0.7,0.1,1.5,6.3,-0.6
3,1630174,Aaron Nesmith,Aaron,1610612738,BOS,22.0,52,32,20,0.615,11.0,1.4,3.5,0.396,0.6,2.2,0.270,0.4,0.5,0.808,0.3,1.4,1.7,0.4,0.6,0.4,0.1,1.3,3.8,0.4
4,1630598,Aaron Wiggins,Aaron,1610612760,OKC,23.0,50,13,37,0.260,24.2,3.1,6.7,0.463,0.8,2.8,0.304,1.2,1.7,0.729,1.0,2.5,3.6,1.4,1.1,0.6,0.2,1.9,8.3,-4.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,203897,Zach LaVine,Zach,1610612741,CHI,27.0,67,37,30,0.552,34.7,8.4,17.7,0.476,2.8,7.1,0.389,4.8,5.6,0.853,0.3,4.3,4.6,4.5,2.6,0.6,0.3,1.8,24.4,-0.4
601,1630285,Zavier Simpson,Zavier,1610612760,OKC,25.0,4,1,3,0.250,43.5,4.8,13.0,0.365,0.3,2.0,0.125,1.3,1.3,1.000,0.5,4.8,5.3,7.5,2.5,1.3,1.0,3.8,11.0,-23.8
602,1630192,Zeke Nnaji,Zeke,1610612743,DEN,21.0,41,24,17,0.585,17.0,2.3,4.5,0.516,0.9,2.0,0.463,1.0,1.6,0.631,1.4,2.2,3.6,0.4,0.6,0.4,0.3,1.9,6.6,-1.1
603,1630533,Ziaire Williams,Ziaire,1610612763,MEM,20.0,62,41,21,0.661,21.7,3.1,6.8,0.450,1.2,3.9,0.314,0.7,0.9,0.782,0.4,1.7,2.1,1.0,0.7,0.6,0.2,1.8,8.1,2.0
604,1629597,Zylan Cheatham,Zylan,1610612762,UTA,26.0,1,0,1,0.000,5.2,0.0,3.0,0.000,0.0,2.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-13.0

#advanced

In [ ]:
player_info_url_adv = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Advanced&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight='

In [ ]:
response_adv = requests.get(url=player_info_url_adv, headers=headers).json()

In [ ]:
player_info_adv = response_adv['resultSets'][0]['rowSet']

In [ ]:
columns_list_adv = ["PLAYER_ID",
"PLAYER_NAME",
"NICKNAME",
"TEAM_ID",
"TEAM_ABBREVIATION",
"AGE",
"GP",
"W",
"L",
"W_PCT",
"MIN",
"E_OFF_RATING",
"OFF_RATING",
"sp_work_OFF_RATING",
"E_DEF_RATING",
"DEF_RATING",
"sp_work_DEF_RATING",
"E_NET_RATING",
"NET_RATING",
"sp_work_NET_RATING",
"AST_PCT",
"AST_TO",
"AST_RATIO",
"OREB_PCT",
"DREB_PCT",
"REB_PCT",
"TM_TOV_PCT",
"E_TOV_PCT",
"EFG_PCT",
"TS_PCT",
"USG_PCT",
"E_USG_PCT",
"E_PACE",
"PACE",
"PACE_PER40",
"sp_work_PACE",
"PIE",
"POSS",
"FGM",
"FGA",
"FGM_PG",
"FGA_PG",
"FG_PCT",
"GP_RANK",
"W_RANK",
"L_RANK",
"W_PCT_RANK",
 "MIN_RANK",
 "E_OFF_RATING_RANK",
"OFF_RATING_RANK",
"sp_work_OFF_RATING_RANK",
"E_DEF_RATING_RANK",
"DEF_RATING_RANK",
"sp_work_DEF_RATING_RANK",
"E_NET_RATING_RANK",
"NET_RATING_RANK",
"sp_work_NET_RATING_RANK",
 "AST_PCT_RANK",
 "AST_TO_RANK",
"AST_RATIO_RANK",
"OREB_PCT_RANK",
 "DREB_PCT_RANK",
 "REB_PCT_RANK" ,
 "TM_TOV_PCT_RANK",
 "E_TOV_PCT_RANK",
 "EFG_PCT_RANK",
"TS_PCT_RANK",
 "USG_PCT_RANK",
"E_USG_PCT_RANK",
"E_PACE_RANK",
 "PACE_RANK",
 "sp_work_PACE_RANK",
"PIE_RANK",
"FGM_RANK",
"FGA_RANK",
"FGM_PG_RANK",
"FGA_PG_RANK",
"FG_PCT_RANK",
"CFID",
"CFPARAMS"]

In [ ]:
trad_2_adv = pd.DataFrame(player_info_adv, columns=columns_list_adv)

In [ ]:
real_trad_2_adv = trad_2_adv[['PLAYER_ID','GP', 'PLAYER_NAME','W_PCT','OFF_RATING','DEF_RATING','NET_RATING','AST_PCT','AST_TO','TM_TOV_PCT',"TS_PCT","OREB_PCT","DREB_PCT","REB_PCT",'EFG_PCT',"PIE","USG_PCT","TS_PCT","PACE","POSS"]]

In [ ]:
real_trad_2_adv

,PLAYER_ID,GP,PLAYER_NAME,W_PCT,OFF_RATING,DEF_RATING,NET_RATING,AST_PCT,AST_TO,TM_TOV_PCT,TS_PCT,OREB_PCT,DREB_PCT,REB_PCT,EFG_PCT,PIE,USG_PCT,TS_PCT,PACE,POSS
0,203932,75,Aaron Gordon,0.613,117.3,111.1,6.2,0.109,1.41,10.6,0.602,0.057,0.129,0.095,0.573,0.096,0.194,0.602,99.00,4908
1,1630565,6,Aaron Henry,1.000,71.1,127.0,-56.0,0.000,0.00,28.6,0.200,0.000,0.048,0.024,0.200,-0.079,0.149,0.200,105.99,38
2,1628988,63,Aaron Holiday,0.540,106.8,108.2,-1.4,0.223,2.28,11.4,0.544,0.023,0.092,0.058,0.504,0.088,0.182,0.544,99.57,2113
3,1630174,52,Aaron Nesmith,0.615,107.3,104.3,3.0,0.057,0.71,12.7,0.507,0.025,0.117,0.073,0.481,0.048,0.164,0.507,100.58,1196
4,1630598,50,Aaron Wiggins,0.260,104.5,112.6,-8.1,0.083,1.26,10.9,0.556,0.040,0.098,0.069,0.525,0.062,0.149,0.556,101.60,2546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,203897,67,Zach LaVine,0.552,112.5,113.4,-0.9,0.207,1.77,9.4,0.605,0.010,0.121,0.067,0.554,0.129,0.284,0.605,99.36,4827
601,1630285,4,Zavier Simpson,0.250,98.6,125.1,-26.5,0.250,3.00,10.6,0.406,0.010,0.114,0.058,0.375,0.059,0.158,0.406,97.75,354
602,1630192,41,Zeke Nnaji,0.585,107.2,110.4,-3.2,0.037,0.74,9.0,0.629,0.077,0.141,0.107,0.616,0.078,0.146,0.629,99.25,1443
603,1630533,62,Ziaire Williams,0.661,112.9,108.8,4.2,0.062,1.59,7.4,0.559,0.017,0.071,0.044,0.540,0.055,0.144,0.559,103.22,2896
604,1629597,1,Zylan Cheatham,0.000,18.2,125.0,-106.8,0.000,0.00,0.0,0.000,0.000,0.000,0.000,0.000,-0.167,0.250,0.000,106.50,11

In [ ]:
all_data_2022 = pd.merge(real_trad_2_adv, real_trad_22, how='inner', on = 'PLAYER_ID')

In [ ]:
all_data_2022

,PLAYER_ID,GP_x,PLAYER_NAME_x,W_PCT_x,OFF_RATING,DEF_RATING,NET_RATING,AST_PCT,AST_TO,TM_TOV_PCT,TS_PCT,OREB_PCT,DREB_PCT,REB_PCT,EFG_PCT,PIE,USG_PCT,TS_PCT,PACE,POSS,PLAYER_NAME_y,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP_y,W,L,W_PCT_y,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,PF,PTS,PLUS_MINUS
0,203932,75,Aaron Gordon,0.613,117.3,111.1,6.2,0.109,1.41,10.6,0.602,0.057,0.129,0.095,0.573,0.096,0.194,0.602,99.00,4908,Aaron Gordon,Aaron,1610612743,DEN,26.0,75,46,29,0.613,31.7,5.8,11.1,0.520,1.2,3.5,0.335,2.3,3.1,0.743,1.7,4.2,5.9,2.5,1.8,0.6,0.6,2.0,15.0,4.3
1,1630565,6,Aaron Henry,1.000,71.1,127.0,-56.0,0.000,0.00,28.6,0.200,0.000,0.048,0.024,0.200,-0.079,0.149,0.200,105.99,38,Aaron Henry,Aaron,1610612755,PHI,22.0,6,6,0,1.000,2.8,0.2,0.8,0.200,0.0,0.2,0.000,0.0,0.0,0.000,0.0,0.2,0.2,0.0,0.3,0.0,0.3,0.3,0.3,-3.3
2,1628988,63,Aaron Holiday,0.540,106.8,108.2,-1.4,0.223,2.28,11.4,0.544,0.023,0.092,0.058,0.504,0.088,0.182,0.544,99.57,2113,Aaron Holiday,Aaron,1610612756,PHX,25.0,63,34,29,0.540,16.2,2.4,5.4,0.447,0.6,1.6,0.379,0.9,1.1,0.868,0.4,1.6,1.9,2.4,1.1,0.7,0.1,1.5,6.3,-0.6
3,1630174,52,Aaron Nesmith,0.615,107.3,104.3,3.0,0.057,0.71,12.7,0.507,0.025,0.117,0.073,0.481,0.048,0.164,0.507,100.58,1196,Aaron Nesmith,Aaron,1610612738,BOS,22.0,52,32,20,0.615,11.0,1.4,3.5,0.396,0.6,2.2,0.270,0.4,0.5,0.808,0.3,1.4,1.7,0.4,0.6,0.4,0.1,1.3,3.8,0.4
4,1630598,50,Aaron Wiggins,0.260,104.5,112.6,-8.1,0.083,1.26,10.9,0.556,0.040,0.098,0.069,0.525,0.062,0.149,0.556,101.60,2546,Aaron Wiggins,Aaron,1610612760,OKC,23.0,50,13,37,0.260,24.2,3.1,6.7,0.463,0.8,2.8,0.304,1.2,1.7,0.729,1.0,2.5,3.6,1.4,1.1,0.6,0.2,1.9,8.3,-4.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,203897,67,Zach LaVine,0.552,112.5,113.4,-0.9,0.207,1.77,9.4,0.605,0.010,0.121,0.067,0.554,0.129,0.284,0.605,99.36,4827,Zach LaVine,Zach,1610612741,CHI,27.0,67,37,30,0.552,34.7,8.4,17.7,0.476,2.8,7.1,0.389,4.8,5.6,0.853,0.3,4.3,4.6,4.5,2.6,0.6,0.3,1.8,24.4,-0.4
601,1630285,4,Zavier Simpson,0.250,98.6,125.1,-26.5,0.250,3.00,10.6,0.406,0.010,0.114,0.058,0.375,0.059,0.158,0.406,97.75,354,Zavier Simpson,Zavier,1610612760,OKC,25.0,4,1,3,0.250,43.5,4.8,13.0,0.365,0.3,2.0,0.125,1.3,1.3,1.000,0.5,4.8,5.3,7.5,2.5,1.3,1.0,3.8,11.0,-23.8
602,1630192,41,Zeke Nnaji,0.585,107.2,110.4,-3.2,0.037,0.74,9.0,0.629,0.077,0.141,0.107,0.616,0.078,0.146,0.629,99.25,1443,Zeke Nnaji,Zeke,1610612743,DEN,21.0,41,24,17,0.585,17.0,2.3,4.5,0.516,0.9,2.0,0.463,1.0,1.6,0.631,1.4,2.2,3.6,0.4,0.6,0.4,0.3,1.9,6.6,-1.1
603,1630533,62,Ziaire Williams,0.661,112.9,108.8,4.2,0.062,1.59,7.4,0.559,0.017,0.071,0.044,0.540,0.055,0.144,0.559,103.22,2896,Ziaire Williams,Ziaire,1610612763,MEM,20.0,62,41,21,0.661,21.7,3.1,6.8,0.450,1.2,3.9,0.314,0.7,0.9,0.782,0.4,1.7,2.1,1.0,0.7,0.6,0.2,1.8,8.1,2.0
604,1629597,1,Zylan Cheatham,0.000,18.2,125.0,-106.8,0.000,0.00,0.0,0.000,0.000,0.000,0.000,0.000,-0.167,0.250,0.000,106.50,11,Zylan Cheatham,Zylan,1610612762,UTA,26.0,1,0,1,0.000,5.2,0.0,3.0,0.000,0.0,2.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-13.0

In [ ]:
all_data_2022.to_csv('all_data_2022.csv', index=False)

#new dfs 2021-2012

In [ ]:
season_id = '2020-21'
per_mode = 'PerGame'
player_info_url = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight='
response = requests.get(url=player_info_url, headers=headers).json()
player_info = response['resultSets'][0]['rowSet']
trad_22 = pd.DataFrame(player_info, columns=columns_list)
real_trad_22 = trad_22[["PLAYER_ID","PLAYER_NAME","NICKNAME","TEAM_ID","TEAM_ABBREVIATION","AGE","GP","W","L","W_PCT","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","PF","PTS","PLUS_MINUS"]]
player_info_url_adv = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Advanced&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight='
response_adv = requests.get(url=player_info_url_adv, headers=headers).json()
player_info_adv = response_adv['resultSets'][0]['rowSet']
trad_2_adv = pd.DataFrame(player_info_adv, columns=columns_list_adv)
real_trad_2_adv = trad_2_adv[['PLAYER_ID','GP', 'PLAYER_NAME','W_PCT','OFF_RATING','DEF_RATING','NET_RATING','AST_PCT','AST_TO','TM_TOV_PCT',"TS_PCT","OREB_PCT","DREB_PCT","REB_PCT",'EFG_PCT',"PIE","USG_PCT","TS_PCT","PACE","POSS"]]
all_data_2021 = pd.merge(real_trad_2_adv, real_trad_22, how='inner', on = 'PLAYER_ID')
all_data_2021.head()
all_data_2021.to_csv('all_data_2021.csv', index=False)

In [ ]:
season_id = '2019-20'
per_mode = 'PerGame'
player_info_url = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight='
response = requests.get(url=player_info_url, headers=headers).json()
player_info = response['resultSets'][0]['rowSet']
trad_22 = pd.DataFrame(player_info, columns=columns_list)
real_trad_22 = trad_22[["PLAYER_ID","PLAYER_NAME","NICKNAME","TEAM_ID","TEAM_ABBREVIATION","AGE","GP","W","L","W_PCT","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","PF","PTS","PLUS_MINUS"]]
player_info_url_adv = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Advanced&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight='
response_adv = requests.get(url=player_info_url_adv, headers=headers).json()
player_info_adv = response_adv['resultSets'][0]['rowSet']
trad_2_adv = pd.DataFrame(player_info_adv, columns=columns_list_adv)
real_trad_2_adv = trad_2_adv[['PLAYER_ID','GP', 'PLAYER_NAME','W_PCT','OFF_RATING','DEF_RATING','NET_RATING','AST_PCT','AST_TO','TM_TOV_PCT',"TS_PCT","OREB_PCT","DREB_PCT","REB_PCT",'EFG_PCT',"PIE","USG_PCT","TS_PCT","PACE","POSS"]]
all_data_2020 = pd.merge(real_trad_2_adv, real_trad_22, how='inner', on = 'PLAYER_ID')
all_data_2020.head()
all_data_2020.to_csv('all_data_2020.csv', index=False)

In [ ]:
season_id = '2018-19'
per_mode = 'PerGame'
player_info_url = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight='
response = requests.get(url=player_info_url, headers=headers).json()
player_info = response['resultSets'][0]['rowSet']
trad_22 = pd.DataFrame(player_info, columns=columns_list)
real_trad_22 = trad_22[["PLAYER_ID","PLAYER_NAME","NICKNAME","TEAM_ID","TEAM_ABBREVIATION","AGE","GP","W","L","W_PCT","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","PF","PTS","PLUS_MINUS"]]
player_info_url_adv = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Advanced&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight='
response_adv = requests.get(url=player_info_url_adv, headers=headers).json()
player_info_adv = response_adv['resultSets'][0]['rowSet']
trad_2_adv = pd.DataFrame(player_info_adv, columns=columns_list_adv)
real_trad_2_adv = trad_2_adv[['PLAYER_ID','GP', 'PLAYER_NAME','W_PCT','OFF_RATING','DEF_RATING','NET_RATING','AST_PCT','AST_TO','TM_TOV_PCT',"TS_PCT","OREB_PCT","DREB_PCT","REB_PCT",'EFG_PCT',"PIE","USG_PCT","TS_PCT","PACE","POSS"]]
all_data_2019 = pd.merge(real_trad_2_adv, real_trad_22, how='inner', on = 'PLAYER_ID')
all_data_2019.head()
all_data_2019.to_csv('all_data_2019.csv', index=False)

In [ ]:
season_id = '2017-18'
per_mode = 'PerGame'
player_info_url = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight='
response = requests.get(url=player_info_url, headers=headers).json()
player_info = response['resultSets'][0]['rowSet']
trad_22 = pd.DataFrame(player_info, columns=columns_list)
real_trad_22 = trad_22[["PLAYER_ID","PLAYER_NAME","NICKNAME","TEAM_ID","TEAM_ABBREVIATION","AGE","GP","W","L","W_PCT","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","PF","PTS","PLUS_MINUS"]]
player_info_url_adv = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Advanced&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight='
response_adv = requests.get(url=player_info_url_adv, headers=headers).json()
player_info_adv = response_adv['resultSets'][0]['rowSet']
trad_2_adv = pd.DataFrame(player_info_adv, columns=columns_list_adv)
real_trad_2_adv = trad_2_adv[['PLAYER_ID','GP', 'PLAYER_NAME','W_PCT','OFF_RATING','DEF_RATING','NET_RATING','AST_PCT','AST_TO','TM_TOV_PCT',"TS_PCT","OREB_PCT","DREB_PCT","REB_PCT",'EFG_PCT',"PIE","USG_PCT","TS_PCT","PACE","POSS"]]
all_data_2018 = pd.merge(real_trad_2_adv, real_trad_22, how='inner', on = 'PLAYER_ID')
all_data_2018.head()
all_data_2018.to_csv('all_data_2018.csv', index=False)

In [ ]:
season_id = '2016-17'
per_mode = 'PerGame'
player_info_url = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight='
response = requests.get(url=player_info_url, headers=headers).json()
player_info = response['resultSets'][0]['rowSet']
trad_22 = pd.DataFrame(player_info, columns=columns_list)
real_trad_22 = trad_22[["PLAYER_ID","PLAYER_NAME","NICKNAME","TEAM_ID","TEAM_ABBREVIATION","AGE","GP","W","L","W_PCT","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","PF","PTS","PLUS_MINUS"]]
player_info_url_adv = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Advanced&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight='
response_adv = requests.get(url=player_info_url_adv, headers=headers).json()
player_info_adv = response_adv['resultSets'][0]['rowSet']
trad_2_adv = pd.DataFrame(player_info_adv, columns=columns_list_adv)
real_trad_2_adv = trad_2_adv[['PLAYER_ID','GP', 'PLAYER_NAME','W_PCT','OFF_RATING','DEF_RATING','NET_RATING','AST_PCT','AST_TO','TM_TOV_PCT',"TS_PCT","OREB_PCT","DREB_PCT","REB_PCT",'EFG_PCT',"PIE","USG_PCT","TS_PCT","PACE","POSS"]]
all_data_2017 = pd.merge(real_trad_2_adv, real_trad_22, how='inner', on = 'PLAYER_ID')
all_data_2017.head()
all_data_2017.to_csv('all_data_2017.csv', index=False)

In [ ]:
season_id = '2015-16'
per_mode = 'PerGame'
player_info_url = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight='
response = requests.get(url=player_info_url, headers=headers).json()
player_info = response['resultSets'][0]['rowSet']
trad_22 = pd.DataFrame(player_info, columns=columns_list)
real_trad_22 = trad_22[["PLAYER_ID","PLAYER_NAME","NICKNAME","TEAM_ID","TEAM_ABBREVIATION","AGE","GP","W","L","W_PCT","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","PF","PTS","PLUS_MINUS"]]
player_info_url_adv = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Advanced&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight='
response_adv = requests.get(url=player_info_url_adv, headers=headers).json()
player_info_adv = response_adv['resultSets'][0]['rowSet']
trad_2_adv = pd.DataFrame(player_info_adv, columns=columns_list_adv)
real_trad_2_adv = trad_2_adv[['PLAYER_ID','GP', 'PLAYER_NAME','W_PCT','OFF_RATING','DEF_RATING','NET_RATING','AST_PCT','AST_TO','TM_TOV_PCT',"TS_PCT","OREB_PCT","DREB_PCT","REB_PCT",'EFG_PCT',"PIE","USG_PCT","TS_PCT","PACE","POSS"]]
all_data_2016 = pd.merge(real_trad_2_adv, real_trad_22, how='inner', on = 'PLAYER_ID')
all_data_2016.head()
all_data_2016.to_csv('all_data_2016.csv', index=False)

In [ ]:
season_id = '2014-15'
per_mode = 'PerGame'
player_info_url = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight='
response = requests.get(url=player_info_url, headers=headers).json()
player_info = response['resultSets'][0]['rowSet']
trad_22 = pd.DataFrame(player_info, columns=columns_list)
real_trad_22 = trad_22[["PLAYER_ID","PLAYER_NAME","NICKNAME","TEAM_ID","TEAM_ABBREVIATION","AGE","GP","W","L","W_PCT","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","PF","PTS","PLUS_MINUS"]]
player_info_url_adv = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Advanced&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight='
response_adv = requests.get(url=player_info_url_adv, headers=headers).json()
player_info_adv = response_adv['resultSets'][0]['rowSet']
trad_2_adv = pd.DataFrame(player_info_adv, columns=columns_list_adv)
real_trad_2_adv = trad_2_adv[['PLAYER_ID','GP', 'PLAYER_NAME','W_PCT','OFF_RATING','DEF_RATING','NET_RATING','AST_PCT','AST_TO','TM_TOV_PCT',"TS_PCT","OREB_PCT","DREB_PCT","REB_PCT",'EFG_PCT',"PIE","USG_PCT","TS_PCT","PACE","POSS"]]
all_data_2015 = pd.merge(real_trad_2_adv, real_trad_22, how='inner', on = 'PLAYER_ID')
all_data_2015.head()
all_data_2015.to_csv('all_data_2015.csv', index=False)

In [ ]:
season_id = '2013-14'
per_mode = 'PerGame'
player_info_url = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight='
response = requests.get(url=player_info_url, headers=headers).json()
player_info = response['resultSets'][0]['rowSet']
trad_22 = pd.DataFrame(player_info, columns=columns_list)
real_trad_22 = trad_22[["PLAYER_ID","PLAYER_NAME","NICKNAME","TEAM_ID","TEAM_ABBREVIATION","AGE","GP","W","L","W_PCT","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","PF","PTS","PLUS_MINUS"]]
player_info_url_adv = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Advanced&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight='
response_adv = requests.get(url=player_info_url_adv, headers=headers).json()
player_info_adv = response_adv['resultSets'][0]['rowSet']
trad_2_adv = pd.DataFrame(player_info_adv, columns=columns_list_adv)
real_trad_2_adv = trad_2_adv[['PLAYER_ID','GP', 'PLAYER_NAME','W_PCT','OFF_RATING','DEF_RATING','NET_RATING','AST_PCT','AST_TO','TM_TOV_PCT',"TS_PCT","OREB_PCT","DREB_PCT","REB_PCT",'EFG_PCT',"PIE","USG_PCT","TS_PCT","PACE","POSS"]]
all_data_2014 = pd.merge(real_trad_2_adv, real_trad_22, how='inner', on = 'PLAYER_ID')
all_data_2014.head()
all_data_2014.to_csv('all_data_2014.csv', index=False)

In [ ]:
season_id = '2012-13'
per_mode = 'PerGame'
player_info_url = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight='
response = requests.get(url=player_info_url, headers=headers).json()
player_info = response['resultSets'][0]['rowSet']
trad_22 = pd.DataFrame(player_info, columns=columns_list)
real_trad_22 = trad_22[["PLAYER_ID","PLAYER_NAME","NICKNAME","TEAM_ID","TEAM_ABBREVIATION","AGE","GP","W","L","W_PCT","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","PF","PTS","PLUS_MINUS"]]
player_info_url_adv = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Advanced&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight='
response_adv = requests.get(url=player_info_url_adv, headers=headers).json()
player_info_adv = response_adv['resultSets'][0]['rowSet']
trad_2_adv = pd.DataFrame(player_info_adv, columns=columns_list_adv)
real_trad_2_adv = trad_2_adv[['PLAYER_ID','GP', 'PLAYER_NAME','W_PCT','OFF_RATING','DEF_RATING','NET_RATING','AST_PCT','AST_TO','TM_TOV_PCT',"TS_PCT","OREB_PCT","DREB_PCT","REB_PCT",'EFG_PCT',"PIE","USG_PCT","TS_PCT","PACE","POSS"]]
all_data_2013 = pd.merge(real_trad_2_adv, real_trad_22, how='inner', on = 'PLAYER_ID')
all_data_2013.head()
all_data_2013.to_csv('all_data_2013.csv', index=False)

In [ ]:
season_id = '2011-12'
per_mode = 'PerGame'
player_info_url = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight='
response = requests.get(url=player_info_url, headers=headers).json()
player_info = response['resultSets'][0]['rowSet']
trad_22 = pd.DataFrame(player_info, columns=columns_list)
real_trad_22 = trad_22[["PLAYER_ID","PLAYER_NAME","NICKNAME","TEAM_ID","TEAM_ABBREVIATION","AGE","GP","W","L","W_PCT","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","PF","PTS","PLUS_MINUS"]]
player_info_url_adv = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Advanced&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight='
response_adv = requests.get(url=player_info_url_adv, headers=headers).json()
player_info_adv = response_adv['resultSets'][0]['rowSet']
trad_2_adv = pd.DataFrame(player_info_adv, columns=columns_list_adv)
real_trad_2_adv = trad_2_adv[['PLAYER_ID','GP', 'PLAYER_NAME','W_PCT','OFF_RATING','DEF_RATING','NET_RATING','AST_PCT','AST_TO','TM_TOV_PCT',"TS_PCT","OREB_PCT","DREB_PCT","REB_PCT",'EFG_PCT',"PIE","USG_PCT","TS_PCT","PACE","POSS"]]
all_data_2012 = pd.merge(real_trad_2_adv, real_trad_22, how='inner', on = 'PLAYER_ID')
all_data_2012.head()
all_data_2012.to_csv('all_data_2012.csv', index=False)