<a href="https://colab.research.google.com/github/jonathanluo23/NBA-allstar-all-nba-Prediction/blob/main/Capstone_All_NBA_Standardization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from mlxtend.preprocessing import minmax_scaling
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats


# Mount google drive
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [13]:
pd.options.display.max_columns = 500

#import data

In [3]:
df_1 = pd.read_csv('/content/drive/MyDrive/Capstone/all nba data/all_data_2012_target - all_data_2012.csv')
df_2 = pd.read_csv('/content/drive/MyDrive/Capstone/all nba data/all_data_2013_target - all_data_2013.csv')
df_3 = pd.read_csv('/content/drive/MyDrive/Capstone/all nba data/all_data_2014_target - all_data_2014.csv')
df_4 = pd.read_csv('/content/drive/MyDrive/Capstone/all nba data/all_data_2015_target - all_data_2015.csv')
df_5 = pd.read_csv('/content/drive/MyDrive/Capstone/all nba data/all_data_2016_target - all_data_2016.csv')
df_6 = pd.read_csv('/content/drive/MyDrive/Capstone/all nba data/all_data_2017_target - all_data_2017.csv')
df_7 = pd.read_csv('/content/drive/MyDrive/Capstone/all nba data/all_data_2018_target - all_data_2018.csv')
df_8 = pd.read_csv('/content/drive/MyDrive/Capstone/all nba data/all_data_2019_target - all_data_2019.csv')
df_9 = pd.read_csv('/content/drive/MyDrive/Capstone/all nba data/all_data_2020_target - all_data_2020.csv')
df_10 = pd.read_csv('/content/drive/MyDrive/Capstone/all nba data/all_data_2021_target - all_data_2021.csv')
df_11 = pd.read_csv('/content/drive/MyDrive/Capstone/all nba data/all_data_2022_target - all_data_2022.csv')

In [4]:
df_1.insert(1,'year', 2012, True)
df_2.insert(1,'year', 2013, True)
df_3.insert(1,'year', 2014, True)
df_4.insert(1,'year', 2015, True)
df_5.insert(1,'year', 2016, True)
df_6.insert(1,'year', 2017, True)
df_7.insert(1,'year', 2018, True)
df_8.insert(1,'year', 2019, True)
df_9.insert(1,'year', 2020, True)
df_10.insert(1,'year', 2021, True)
df_11.insert(1,'year', 2022, True)

In [5]:
all_nba_df = pd.concat([df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9,df_10,df_11])

In [6]:
all_nba_df.loc[all_nba_df['y'] == 1]

,PLAYER_ID,year,PLAYER_NAME_x,W_PCT_x,OFF_RATING,DEF_RATING,NET_RATING,AST_PCT,AST_TO,TM_TOV_PCT,...,DREB,REB,AST,TOV,STL,BLK,PF,PTS,PLUS_MINUS,y
19,101115,2012,Andrew Bynum,0.633,103.4,101.3,2.1,0.074,0.56,12.9,...,8.6,11.8,1.4,2.5,0.5,1.9,1.7,18.7,1.9,1
39,201933,2012,Blake Griffin,0.606,111.0,103.6,7.4,0.156,1.40,9.5,...,7.6,10.9,3.2,2.3,0.8,0.7,3.3,20.7,5.1,1
61,2546,2012,Carmelo Anthony,0.527,104.1,101.5,2.5,0.209,1.39,9.5,...,4.7,6.3,3.6,2.6,1.1,0.4,2.8,22.6,2.0,1
75,101108,2012,Chris Paul,0.617,111.4,104.1,7.4,0.413,4.38,7.4,...,2.9,3.6,9.1,2.1,2.5,0.1,2.3,19.8,5.5,1
132,1717,2012,Dirk Nowitzki,0.532,104.0,98.1,5.9,0.119,1.16,8.2,...,6.0,6.7,2.2,1.9,0.7,0.5,2.1,21.6,4.2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,1629029,2022,Luka Doncic,0.677,113.8,110.3,3.5,0.458,1.95,11.8,...,8.3,9.1,8.7,4.5,1.2,0.6,2.2,28.4,2.2,1
449,203999,2022,Nikola Jokic,0.622,117.3,108.9,8.4,0.388,2.08,11.9,...,11.0,13.8,7.9,3.8,1.5,0.9,2.6,27.1,6.0,1
464,1627783,2022,Pascal Siakam,0.588,114.3,109.6,4.8,0.224,1.99,9.5,...,6.6,8.5,5.3,2.7,1.3,0.6,3.3,22.8,3.8,1
526,201939,2022,Stephen Curry,0.703,114.1,103.4,10.7,0.286,1.96,10.6,...,4.7,5.2,6.3,3.2,1.3,0.4,2.0,25.5,8.0,1
553,1629027,2022,Trae Young,0.526,117.2,114.9,2.3,0.442,2.43,10.7,...,3.1,3.7,9.7,4.0,0.9,0.1,1.7,28.4,2.1,1

| Features | Data Type | Description |
| ------------ | ---------- | ---------- |
OFF_RATING | Integer | Avg. keyword (min. shares)
DEF_RATING | Integer | Avg. keyword (avg. shares)
NET_RATING | Integer | Max. shares of referenced articles in Mashable
x5 | Integer | Avg. shares of referenced articles in Mashable
x13 | Nominal | Was article published on a Saturday?

#Data Quality Checks

In [8]:
#Check the count of missing data entries for each column
all_nba_df.isna().sum()

PLAYER_ID            0
year                 0
PLAYER_NAME_x        0
W_PCT_x              0
OFF_RATING           0
DEF_RATING           0
NET_RATING           0
AST_PCT              0
AST_TO               0
TM_TOV_PCT           0
TS_PCT               0
OREB_PCT             0
DREB_PCT             0
REB_PCT              0
EFG_PCT              0
PIE                  0
USG_PCT              0
TS_PCT.1             0
PACE                 0
POSS                 0
PLAYER_NAME_y        0
NICKNAME             0
TEAM_ID              0
TEAM_ABBREVIATION    0
AGE                  0
GP_y                 0
W                    0
L                    0
W_PCT_y              0
MIN                  0
FGM                  0
FGA                  0
FG_PCT               0
FG3M                 0
FG3A                 0
FG3_PCT              0
FTM                  0
FTA                  0
FT_PCT               0
OREB                 0
DREB                 0
REB                  0
AST                  0
TOV                  0
STL                  0
BLK                  0
PF                   0
PTS                  0
PLUS_MINUS           0
y                    0
dtype: int64

#Continuous/Categorical-Discrete Data

In [46]:
Identifiers = all_nba_df[['PLAYER_ID','TEAM_ID', 'PLAYER_NAME_x']]

In [63]:
Discrete = all_nba_df[['W', 'L']]

In [64]:
continous = all_nba_df[['AGE','GP_y','OFF_RATING', 'DEF_RATING','FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA','TS_PCT', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'TOV', 'STL', 'BLK', 'PF', 'PTS',
       'NET_RATING', 'AST_PCT', 'AST_TO', 'TM_TOV_PCT', 'OREB_PCT',
       'DREB_PCT', 'REB_PCT', 'EFG_PCT', 'USG_PCT', 'PACE',
       'POSS','PLUS_MINUS','PIE']]

In [66]:
continous

,AGE,GP_y,OFF_RATING,DEF_RATING,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,TS_PCT,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,PF,PTS,NET_RATING,AST_PCT,AST_TO,TM_TOV_PCT,OREB_PCT,DREB_PCT,REB_PCT,EFG_PCT,USG_PCT,PACE,POSS,PLUS_MINUS,PIE
0,25,44,98.9,97.7,1.3,4.0,0.339,0.6,2.0,0.295,0.6,0.8,0.454,0.800,0.3,1.1,1.4,2.0,0.7,0.5,0.0,0.7,3.9,1.2,0.264,2.69,10.4,0.021,0.092,0.054,0.414,0.171,93.50,1118,0.8,0.095
1,27,49,96.4,106.5,1.7,3.3,0.516,0.0,0.0,0.000,0.5,1.0,0.526,0.532,1.7,4.0,5.7,0.6,1.0,0.4,0.3,2.6,3.9,-10.0,0.055,0.53,19.6,0.105,0.265,0.183,0.516,0.134,90.64,1535,-3.1,0.078
2,32,64,107.5,102.5,5.4,12.1,0.446,1.6,4.7,0.333,1.9,2.8,0.535,0.676,1.1,5.0,6.1,1.4,1.8,0.9,0.2,2.8,14.2,5.0,0.083,0.79,10.6,0.042,0.181,0.113,0.512,0.241,95.95,3516,2.6,0.104
3,26,11,108.6,100.3,5.2,9.4,0.553,0.0,0.1,0.000,2.0,2.7,0.585,0.733,2.4,4.6,7.0,2.2,1.5,0.9,1.3,1.9,12.4,8.3,0.113,1.50,10.4,0.077,0.156,0.116,0.553,0.174,90.07,652,4.7,0.130
4,27,61,108.8,104.8,8.5,17.2,0.492,0.0,0.1,0.250,2.2,2.9,0.520,0.774,2.2,7.4,9.6,2.2,1.0,0.8,1.7,2.5,19.2,4.1,0.113,2.16,4.7,0.067,0.223,0.146,0.493,0.258,92.81,4010,2.6,0.154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,27,67,112.5,113.4,8.4,17.7,0.476,2.8,7.1,0.389,4.8,5.6,0.605,0.853,0.3,4.3,4.6,4.5,2.6,0.6,0.3,1.8,24.4,-0.9,0.207,1.77,9.4,0.010,0.121,0.067,0.554,0.284,99.36,4827,-0.4,0.129
601,25,4,98.6,125.1,4.8,13.0,0.365,0.3,2.0,0.125,1.3,1.3,0.406,1.000,0.5,4.8,5.3,7.5,2.5,1.3,1.0,3.8,11.0,-26.5,0.250,3.00,10.6,0.010,0.114,0.058,0.375,0.158,97.75,354,-23.8,0.059
602,21,41,107.2,110.4,2.3,4.5,0.516,0.9,2.0,0.463,1.0,1.6,0.629,0.631,1.4,2.2,3.6,0.4,0.6,0.4,0.3,1.9,6.6,-3.2,0.037,0.74,9.0,0.077,0.141,0.107,0.616,0.146,99.25,1443,-1.1,0.078
603,20,62,112.9,108.8,3.1,6.8,0.450,1.2,3.9,0.314,0.7,0.9,0.559,0.782,0.4,1.7,2.1,1.0,0.7,0.6,0.2,1.8,8.1,4.2,0.062,1.59,7.4,0.017,0.071,0.044,0.540,0.144,103.22,2896,2.0,0.055
604,26,1,18.2,125.0,0.0,3.0,0.000,0.0,2.0,0.000,0.0,0.0,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-106.8,0.000,0.00,0.0,0.000,0.000,0.000,0.000,0.250,106.50,11,-13.0,-0.167

In [67]:
target = all_nba_df_clean['y']

#EDA

In [20]:
!pip install sweetviz

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sweetviz
  Downloading sweetviz-2.1.3-py3-none-any.whl (15.1 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 15.1 MB 4.6 MB/s
Requirement already satisfied: importlib-resources>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (5.7.1)
Requirement already satisfied: matplotlib>=3.1.3 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (3.2.2)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (1.4.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (1.21.6)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (1.3.5)
Requirement already satisfied: tqdm>=4.43.0 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (4.64.0)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (2.11.3)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.2.0->sweetviz) (3.8.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.11.1->sweetviz) (2.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (1.4.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.1.3->sweetviz) (4.2.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.1.3->sweetviz) (1.15.0)
Installing collected packages: sweetviz
Successfully installed sweetviz-2.1.3

In [21]:
import sweetviz as sv

In [ ]:
#analyzing the dataset
cont_report = sv.analyze(continous)
#display the report
cont_report.show_notebook()

In [ ]:
continous[['FGM',	'FGA',	'FG_PCT',	'FG3M',	'FG3A',	'FTM',	'FTA', 'OREB',	'DREB',	'REB',	'AST',	'TOV',	'STL',	'BLK',	'PF',	'PTS'	]].boxplot(figsize=(10,10))

In [ ]:
continous[['FG3_PCT','TS_PCT', 'FT_PCT','FG_PCT', 'OREB_PCT', 'DREB_PCT', 'REB_PCT', 'EFG_PCT', 'USG_PCT','AST_PCT']].boxplot(figsize=(10,10))

In [ ]:
continous[['OFF_RATING','DEF_RATING','PACE', 'TM_TOV_PCT','GP_y']].boxplot(figsize=(10,10))

In [ ]:
continous[['PLUS_MINUS']].boxplot(figsize=(10,10))

In [ ]:
continous[['NET_RATING']].boxplot(figsize=(10,10))

In [ ]:
continous[['POSS']].boxplot(figsize=(10,10))

In [ ]:
#analyzing the dataset
Discrete_report = sv.analyze(Discrete)
#display the report
Discrete_report.show_notebook()

#Preprocessing

##Skew

In [51]:
continous.skew()

GP_y          -0.470083
OFF_RATING    -1.479258
DEF_RATING    -0.445506
FGM            0.955393
FGA            0.905957
FG_PCT        -0.573202
FG3M           1.196992
FG3A           1.028134
FG3_PCT       -0.180477
FTM            2.038707
FTA            1.887743
TS_PCT        -1.392996
FT_PCT        -1.945206
OREB           1.735504
DREB           1.278652
REB            1.350393
AST            1.856577
TOV            1.319637
STL            0.896564
BLK            2.208992
PF             0.036280
PTS            1.088145
NET_RATING    -1.078009
AST_PCT        1.370653
AST_TO         1.804781
TM_TOV_PCT     4.124163
OREB_PCT       4.450232
DREB_PCT       1.804457
REB_PCT        1.369804
EFG_PCT       -1.026707
USG_PCT        0.563919
PACE           9.908002
POSS           0.297826
PLUS_MINUS    -0.028376
PIE          -29.554535
dtype: float64

In [58]:
from scipy import stats as stats
def yeo(df):
  new_df = []
  for col in df.columns:
    # print(col)
    # print(df.loc[:,col])
    new_col = stats.yeojohnson(df.loc[:,col])[0]
    # print(new_col.shape)
    new_df.append(new_col)
  new_df = np.transpose(np.array(new_df))
  new_df = pd.DataFrame(new_df, columns=df.columns)
  return(new_df)

In [59]:
new_continuous = yeo(continous)

In [60]:
new_continuous.skew()

GP_y         -0.449567
OFF_RATING    1.586292
DEF_RATING    1.973731
FGM          -0.012131
FGA          -0.024584
FG_PCT        0.308710
FG3M          0.100368
FG3A         -0.008781
FG3_PCT       0.089508
FTM           0.052374
FTA           0.027133
TS_PCT        0.892248
FT_PCT       -0.130547
OREB          0.080456
DREB         -0.001402
REB          -0.001951
AST           0.054449
TOV           0.013593
STL           0.013319
BLK           0.140865
PF           -0.029278
PTS          -0.023589
NET_RATING    0.871508
AST_PCT       0.095610
AST_TO        0.016882
TM_TOV_PCT    0.565804
OREB_PCT      0.225624
DREB_PCT     -0.042530
REB_PCT       0.022729
EFG_PCT       0.702234
USG_PCT      -0.030762
PACE          0.000000
POSS         -0.315515
PLUS_MINUS   -0.190088
PIE           3.281639
dtype: float64

##Scale

In [61]:
from sklearn.preprocessing import StandardScaler
def standard(data):
  standardscaler = StandardScaler()
  datanorm= standardscaler.fit_transform(data)
  ind=data.index
  cols =data.columns
  datanorm = pd.DataFrame(datanorm, index=ind, columns= cols)
  return (datanorm)

In [62]:
newcont_scaled = standard(new_continuous)
newcont_scaled.head()

,GP_y,OFF_RATING,DEF_RATING,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,TS_PCT,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,PF,PTS,NET_RATING,AST_PCT,AST_TO,TM_TOV_PCT,OREB_PCT,DREB_PCT,REB_PCT,EFG_PCT,USG_PCT,PACE,POSS,PLUS_MINUS,PIE
0,-0.199120,-0.495514,-0.872346,-0.830601,-0.516710,-0.930122,0.083620,0.196051,0.123169,-0.522837,-0.564093,-0.690928,0.429239,-0.800312,-0.949320,-0.967954,0.496846,-0.404062,-0.163917,-1.557891,-1.311336,-0.682239,0.233198,1.414110,1.212925,0.001740,-0.608738,-0.648804,-0.792781,-0.728652,-0.121537,-1.204459,-0.481957,0.393414,0.166861
1,0.003808,-0.737142,0.046119,-0.543844,-0.746478,0.713760,-1.299422,-1.461097,-1.659267,-0.691856,-0.334095,-0.018376,-1.145406,1.231585,0.871736,0.997848,-0.791676,0.079019,-0.452756,0.064833,1.170959,-0.682239,-0.570138,-0.944713,-1.211572,1.629841,1.532537,1.919055,1.824035,0.193404,-0.866126,-1.977466,-0.199033,-0.880503,-0.152285
2,0.615742,0.362746,-0.374375,1.096914,1.143170,0.040933,1.154234,1.195168,0.366080,0.785981,0.907506,0.068927,-0.431191,0.675058,1.266701,1.113266,0.080142,0.995868,0.770140,-0.349362,1.424788,1.042740,0.528652,-0.446418,-0.807904,0.042344,0.214323,0.894815,0.714052,0.155889,1.125727,-0.603260,0.794686,0.963326,0.338850
3,-1.517674,0.475499,-0.603521,1.033533,0.713080,1.081357,-1.299422,-1.319927,-1.659267,0.848663,0.860961,0.567192,-0.067568,1.643940,1.116731,1.352332,0.609842,0.699050,0.770140,1.753018,0.273031,0.825580,0.790144,0.003837,0.091601,0.001740,1.099864,0.517599,0.774132,0.545678,-0.063934,-2.141577,-0.870529,1.621076,0.847578
4,0.493014,0.496072,-0.133195,1.905746,1.794518,0.479738,-1.299422,-1.319927,-0.160718,0.964862,0.952452,-0.076177,0.227002,1.543510,2.007077,1.924214,0.609842,0.079019,0.563852,1.983549,1.043619,1.558689,0.457984,0.003837,0.756599,-1.334402,0.894275,1.448913,1.307249,-0.020791,1.400597,-1.383587,0.994081,0.963326,1.332965

#Post Preprocessing EDA

In [ ]:
newcont_scaled
continous[['FG3_PCT','TS_PCT', 'FT_PCT','FG_PCT', 'OREB_PCT', 'DREB_PCT', 'REB_PCT', 'EFG_PCT', 'USG_PCT','AST_PCT']].boxplot(figsize=(10,10))

In [ ]:
continous[['FGM',	'FGA',	'FG_PCT',	'FG3M',	'FG3A',	'FTM',	'FTA', 'OREB',	'DREB',	'REB',	'AST',	'TOV',	'STL',	'BLK',	'PF',	'PTS'	]].boxplot(figsize=(10,10))

In [ ]:
continous[['OFF_RATING','DEF_RATING','PACE', 'TM_TOV_PCT','GP_y']].boxplot(figsize=(10,10))

In [ ]:
continous[['PLUS_MINUS']].boxplot(figsize=(10,10))

In [ ]:
continous[['NET_RATING']].boxplot(figsize=(10,10))

In [ ]:
continous[['POSS']].boxplot(figsize=(10,10))

#extract data